html {
  overflow-y: scroll;
}

body {
  width: 100vw;
  background-color: #131C2E;
  position: relative;
}

.background {
  height: 100%;
  width: 100vw;
  background: url(./assets/BG.jpg);
  background-attachment: fixed;
  opacity: 0.3;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.view {
  margin: auto;
  text-align: center;
  max-width: 1000px;
  background-color: #131C2E;
  color: rgb(187, 201, 224);
  position: relative;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding-bottom: 20px;
}

