html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: #131C2E;
  position: relative;
}

.background {
  height: 100%;
  width: 100%;
  background: url(./assets/BG.jpg);
  background-attachment: fixed;
  background-size: 1800px auto;
  background-position: top -100px center;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.view {
  margin: auto;
  text-align: center;
  max-width: 1000px;
  background-color: #131C2E;
  color: rgb(187, 201, 224);
  position: relative;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding-bottom: 20px;
  overflow: auto;
}

